﻿@model EBBFED.Models.Archive

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archive</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <h4>Archive Categories</h4>
    <br />
    <p>
        @Html.ActionLink("Create Archive Category", "Create", "ArchiveCategories")
    </p>
    <p>
        @Html.ActionLink("Create Archive File", "Create", "ArchiveFiles")
    </p>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                @*<th>ID</th>*@
                <th>NameA</th>
                <th>NameE</th>
                <th></th>
            </tr>
            <tr>
                
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
                for (; i < Model.ArchiveCategories.Count; i++)
                {
                    <tr>
                        <td style="color: red;">Archive Category</td>
                        @*<td>@Model.ArchiveCategories.ElementAt(i).ID</td>
                        @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).ID)*@
                        <td>@Model.ArchiveCategories.ElementAt(i).NameA</td>
                        @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).NameA)
                        <td>@Model.ArchiveCategories.ElementAt(i).NameE</td>
                        @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).NameE)

                        <td>@Html.ActionLink("Edit", "Edit", "ArchiveCategories", new { id = Model.ArchiveCategories.ElementAt(i).ID }, null) | @Html.ActionLink("Delete", "Delete", "ArchiveCategories", new { id = Model.ArchiveCategories.ElementAt(i).ID }, null)</td>
                    </tr>

                    int j = 0;
                    for (; j < Model.ArchiveCategories.ElementAt(i).ArchiveFiles.Count; j++)
                    {
                        <tr>
                            <td style="color: blue;">Archive File</td>
                            @*<td>@Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).ID</td>
                            @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).ID)*@
                            <td>@Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).NameA</td>
                            @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).NameA)
                            <td>@Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).NameE</td>
                            @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).NameE)
                            <td>@Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).Path</td>
                            @Html.HiddenFor(q => q.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).Path)

                            <td>@Html.ActionLink("Edit", "Edit", "ArchiveFiles", new { id = Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).ID }, null)
                            | @Html.ActionLink("Delete", "Delete", "ArchiveFiles", new { id = Model.ArchiveCategories.ElementAt(i).ArchiveFiles.ElementAt(j).ID }, null)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}