﻿@model EBBFED.Models.Decision

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
