﻿@model IEnumerable<EBBFED.Models.Decision>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleE)
        </td>
        <td>
            @Html.Raw(@item.LongDescriptionA)
        </td>
        <td>
            @Html.Raw(@item.LongDescriptionE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
