﻿@model EBBFED.Models.CompetitionMatch

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompetitionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CompetitionTeam.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionTeam.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompetitionTeam1.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionTeam1.NameA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScoreA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScoreB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreB)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
