﻿@model IEnumerable<EBBFED.Models.CompetitionMatch>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Competition
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetitionTeam.NameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompetitionTeam.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetitionTeam1.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
