﻿@model EBBFED.Models.Match

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club1.NameA)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScoreA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScoreB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age.NameA)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
