﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.css" />
    <script src="https://kit.fontawesome.com/3bffdbdf0c.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand " href="">
            <b>EBBFED Admin</b>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @if (Session["User"] != null)
                {
                    <li class="nav-item active">
                        @Html.ActionLink("الاخبار", "Index", "News", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("الانديه", "Index", "Clubs", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("اللاعبين", "Index", "Players", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("الصور", "Index", "Galleries", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("المدربين", "Index", "Coahes", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("الحكام", "Index", "Judges", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("الإحصائيين", "Index", "Statisticians", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("كورسات تدربيه", "Index", "TrainingCours", null, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            المواسم
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("المواسم", "Index", "Seasons", null, new { @class = "nav-link" })
                            @Html.ActionLink("الفرق", "Index", "Teams", null, new { @class = "nav-link" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الفروع
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("الفروع", "Index", "Branches", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("رؤساء الفروع", "Index", "BranchesPresidents", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الماتشات
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("الماتشات", "Index", "Matches", null, new { @class = "nav-link" })
                            @Html.ActionLink("جدول الماتشات", "Index", "MatchesTables", null, new { @class = "nav-link" })
                        </div>
                    </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            المنتخبات
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("المنتخبات", "Index", "NationalTeams", null, new { @class = "nav-link" })
                            @Html.ActionLink("ماتشات المنتخبات", "Index", "NationalMatches", null, new { @class = "nav-link" })
                            @Html.ActionLink("مسابقات المنتخبات", "Index", "NationalCompetitions", null, new { @class = "nav-link" })
                            @Html.ActionLink("اعمار المنتخبات", "Index", "NationalAges", null, new { @class = "nav-link" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            3×3
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("المسابقات", "Index", "Competitions", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("فرق المسابقات", "Index", "CompetitionTeams", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("اعمار المسابقات", "Index", "CompetitionAges", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("نقاط المكسب", "Index", "PointsPrizes", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("ماتشات المسابفات", "Index", "CompetitionMatches", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("جدول المسابقات", "Index", "CompetitionTables", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاتحاد
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("الاتحاد", "Index", "HistoryUnions", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("اشخاص مهمه", "Index", "UnionPersons", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("رؤساء المجلس", "Index", "CouncilPresidents", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("لجان الاتحاد", "Index", "UnoinCommittes", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("القواعد والقوانين", "Index", "RulesAndLaws", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("قائمه القرارت", "Index", "Decisions", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            الاعدادات
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("تعديل الاعدادت", "EditSettings", "Settings", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("صوره الصفحه الرئيسيه", "Index", "HomePages", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("طريقه احتساب نقاط المباريات", "Index", "MatchPoints", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("الجولات", "Index", "Rounds", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("المناطق", "Index", "Areas", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("مكان اللاعبين", "Index", "Positions", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("الدرجات", "Index", "Divisions", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("الاعمار", "Index", "Ages", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("المقالات", "Index", "Articles", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("التواصل معنا", "Index", "ContactUs", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("الارشيف", "Index", "Archive", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
