﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

        @{
            var error = (Exception)ViewData["ErrorDetails"];
        }
        <h3 class="text-danger">Developer Error Details : @(error == null ? "" : error.ToString())</h3>

    </hgroup>
</body>
</html>
