﻿@model EBBFED.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img class="card-img-top img-fluid" style="height: 250px; width: 250px;" src="~/Content/images/@Model.ImageUrl" alt="Card image cap">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameA)
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.NameA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternationalMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternationalMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
