﻿@model EBBFED.Infra.PlayerModel

@{
    ViewBag.Title = "Edit";
}

<h2>نعديل</h2>


@using (Html.BeginForm("Edit", "Players", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ImageUrl)

    <div class="form-group">
        @Html.Label("الصوره", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="Photo" name="upload" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NameA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NameA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NameE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NameE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PlayerNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PlayerNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PlayerNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.Position, new SelectList(ViewBag.Positions, "Value", "Text", Model.Position), "Select Position", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InternationalMatches, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InternationalMatches, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InternationalMatches, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Club, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Club, new SelectList(ViewBag.Clubs, "Value", "Text", Model.Club), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PlayerType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownListFor(model => model.PlayerType, new SelectList(ViewBag.PlayerTypes, "Value", "Text"), "Select PlayerType", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlayerType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TransfarFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.TransfarFrom, new { htmlAttributes = new { @class = "form-control", @name = "TransfarFrom[]" } })
                @Html.ValidationMessageFor(model => model.TransfarFrom, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.TransfarTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.TransfarTo, new { htmlAttributes = new { @class = "form-control", @name = "TransfarTo[]" } })
                @Html.ValidationMessageFor(model => model.TransfarTo, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div id="transfer">
        <div id="add">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.TransfarFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="TransfarFrome[]" class="form-control" />
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.TransfarTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="TransfarToe[]" class="form-control" />
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="Yeare[]" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <input type="button" id="addTransfat" class="btn btn-primary" value="Add Transfar" />
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClubName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ClubName, new { htmlAttributes = new { @class = "form-control", @name = "ClubName[]" } })
                @Html.ValidationMessageFor(model => model.ClubName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.YearFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.YearFrom, new { htmlAttributes = new { @class = "form-control", @name = "YearFrom[]" } })
                @Html.ValidationMessageFor(model => model.YearFrom, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.YearTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <br />
                @Html.EditorFor(model => model.YearTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearTo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div id="preclub">
        <div id="addPreClub">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ClubName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="ClubNameE[]" class="form-control" />
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.YearFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="YearFromE[]" class="form-control" />
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(model => model.YearTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <br />
                    <input type="text" name="YearToE[]" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <input type="button" id="addPreClubBtn" class="btn btn-primary" value="Add Previous Club" />
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#addTransfat").click(function () {
            var row = $('#add').html();
            $("#transfer").append(row);
        });
        $("#addPreClubBtn").click(function () {
            var row = $('#addPreClub').html();
            $("#preclub").append(row);
        });
    </script>
}