﻿@model IEnumerable<EBBFED.Models.Player>

@{
    /**/

    ViewBag.Title = "Index";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success my-3">
        تم إضافه الملف بنجاح
    </div>
}
<div class="row float-right m-3">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Import Excel</h5>
                @using (Html.BeginForm("Upload", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <input name="UploadedFile" type="file" id="UploadedFile" class="form-control-file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <input type="submit" id="ImportExcel" name="submit" value="Import From Excel" class="btn btn-success my-3">
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Export Excel</h5>
                @using (Html.BeginForm("Download", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <input type="submit" name="ExportExcel" value="Export To Excel" class="btn btn-success my-3">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternationalMatches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NameA)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NameE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.NameA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternationalMatches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Club.NameA)
                </td>
                <td>
                    @if (item.PlayerType == "National")
                    {
                        <span>محلى </span>
                    }
                    else
                    {
                        <span>دولى  </span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) @*|
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.6/b-html5-1.5.6/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.19/i18n/Arabic.json"></script>

    <script>
        $(document).ready(function () {
            $("#ImportExcel").click(function (e) {
                if ($("#UploadedFile").get(0).files.length === 0) {
                    e.preventDefault();
                    alert("Please Choose File First!");
                }
            })


            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf'
                ]
            });

        })
    </script>


}