﻿@model EBBFED.Models.Season

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.ID)
    <input name="SeasonId" value="@ViewBag.SeasonId" hidden/>
    <div class="form-horizontal">
        <h4>SeasonTeam</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="TeamId">الفريق</label>
            <div class="col-md-10">
                @Html.DropDownList("TeamId", new SelectList(ViewBag.TeamId, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" for="Rank">Rank</label>
            <div class="col-md-10">
                <input class = "form-control" name="Rank" id="Rank" type="number"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index", new { id = Model.ID })
    </div>
