﻿@model EBBFED.Models.SeasonTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeasonTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.NameA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
