﻿@model IEnumerable<EBBFED.Models.SeasonTeam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.SeasonId })
</p>
<table class="table">
    <tr>
        <th>
            الترتيب
        </th>
        <th>
            الموسم
        </th>
        <th>
            اسم الفريق عربى
        </th>
        <th>
            اسم الفريق انجليزى
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.NameE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
