﻿@model EBBFED.Models.MatchesTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MatchesTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubB_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DivisionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
