﻿@model EBBFED.Models.MatchesTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MatchesTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubB_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubB_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DivisionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
