﻿@model IEnumerable<EBBFED.Infra.MatchesTableModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubA)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ClubB)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withdraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClubA.NameA)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ClubB.NameA)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfMatches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Draw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdraw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
    </tr>
}

</table>
