﻿@model IEnumerable<EBBFED.Models.CompetitionAge>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Competition.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.NameA)
        </td>
        <td>
    </tr>
}

</table>
