﻿@model EBBFED.Models.BranchesPresident

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BranchesPresident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BriefA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BriefA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BriefE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BriefE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.NameE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsChairman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsChairman)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
