﻿@model IEnumerable<EBBFED.Models.BranchesPresident>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            الصوره
        </th>
        <th>
            الاسم عربى
        </th>
        <th>
            الاسم انجليزى
        </th>
        <th>
            نبذه عربى
        </th>
        <th>
            نبذه انجليزى
        </th>
        <th>
            اللقب عربى
        </th>
        <th>
            اللقب انجليزى
        </th>
        <th>
            رئيس الفرع؟
        </th>
        <th>
            اسم الفرع
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/Images//@Html.DisplayFor(modelItem=>item.ImageUrl)" class="thumbnail" style="width:40px; height:40px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BriefA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BriefE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleE)
        </td>
        <td>
            @if (item.IsChairman==true)
            {
                <span>نعم</span>
            }
            else
            {
                <span>لا</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.NameE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
