﻿@model EBBFED.Models.HomePage

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "HomePages", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        Editing
        <img src="~/Content/Images//@Html.DisplayFor(model=>model.ImageUrl)" class="thumbnail" style="width:40px; height:40px;" />
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="form-group">
                <div class="col-md-12 mt-3">
                    <input type="file" id="Photo" name="upload" accept="image/*" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#upload").click(function (e) {
                if ($("#Photo").get(0).files.length === 0) {
                    e.preventDefault();
                    alert("Please Choose Photo First!");
                }
            })
        })
    </script>
}