﻿@model EBBFED.Models.TrainingCours

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseType)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
