﻿@model EBBFED.Models.TrainingCours

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseType)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
