﻿@model IEnumerable<EBBFED.Models.TrainingCours>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitleA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleE)
        </td>
        <td>
            @Html.Raw(@item.ShortDescriptionA)
        </td>
        <td>
            @Html.Raw(@item.ShortDescriptionE)
        </td>
        <td>
            @Html.Raw(@item.LongDescriptionA)
        </td>
        <td>
            @Html.Raw(@item.LongDescriptionE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
