﻿@model IEnumerable<EBBFED.Models.RulesAndLaw>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameE)
        </th>

        <td>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.PdfName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameE)
            </td>
            <td>
                @Html.Raw(@item.ShortDescriptionA)
            </td>
            <td>
                @Html.Raw(@item.ShortDescriptionE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
