﻿@model EBBFED.Models.MatchPoint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatchPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WinnerPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoserPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoserPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.NameA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
