﻿@model IEnumerable<EBBFED.Models.MatchPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            نقاط الفائز
        </th>
        <th>
            نقاط الخاسر
        </th>
        <th>
            نقاط التعادل
        </th>
        <th>
            المرحلة العمرية
        </th>
        <th>
            الدرجة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WinnerPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoserPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.NameA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
