﻿@model IEnumerable<EBBFED.Models.Coahe>

@{
    ViewBag.Title = "Index";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success my-3">
        تم إضافه الملف بنجاح
    </div>
}
<div class="row float-right m-3">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Import Excel</h5>
                @using (Html.BeginForm("Upload", "Coahes", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <input name="UploadedFile" type="file" id="UploadedFile" class="form-control-file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <input type="submit" id="ImportExcel" name="submit" value="Import From Excel" class="btn btn-success my-3">
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Export Excel</h5>
                @using (Html.BeginForm("Download", "Coahes", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <input type="submit" name="ExportExcel" value="Export To Excel" class="btn btn-success my-3">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            ClubName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.Raw(@item.DescriptionA)
            </td>
            <td>
                @Html.Raw(@item.DescriptionE)
            </td>
            <td>
                @Html.Raw(@item.TitleA)
            </td>
            <td>
                @Html.Raw(@item.TitleE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $("#ImportExcel").click(function (e) {
                if ($("#UploadedFile").get(0).files.length === 0) {
                    e.preventDefault();
                    alert("Please Choose File First!");
                }
            })
        })
    </script>
}