﻿@model EBBFED.Infra.UnoinCommitteModel

@{
    ViewBag.Title = "Create";
}

<h2>اضافه</h2>


@using (Html.BeginForm("Create", "UnoinCommittes", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("الصوره", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Photo" name="upload" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameA, "الاسم عربى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameE, "الاسم انجليزى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ObjectivesA, " الاهداف عربى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ObjectivesA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectivesA, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ObjectivesE, "الاهداف انجليزى", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ObjectivesE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectivesE, "", new { @class = "text-danger" })
            </div>
        </div>


        <div id="member">
            <div id="add">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.MemberNameA, "اسم العضو عربى", htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <input type="text" name="MemberNameAe[]" class="form-control" />
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.MemberNameE, "اسم العضو انجليزى", htmlAttributes: new { @class = "control-label col-md-2" })
                        <br />
                        <input type="text" name="MemberNameEe[]" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <input type="button" id="addMember" class="btn btn-primary" value="Add Member" />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#addMember").click(function () {
            var row = $('#add').html();
            $("#member").append(row);
        });
    </script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.env.isCompatible = true;
        CKEDITOR.replace("ObjectivesA");
        CKEDITOR.replace("ObjectivesE");

    </script>
}
