﻿@model EBBFED.Models.HistoryUnion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstablishedYearA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedYearA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstablishedYearE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedYearE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AchievementA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AchievementA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AchievementE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AchievementE)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
