﻿@model IEnumerable<EBBFED.Models.HistoryUnion>

@{
    ViewBag.Title = "Index";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstablishedYearA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AchievementA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(@item.EstablishedYearA)
        </td>
        <td>
            @Html.Raw(@item.AchievementA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
