﻿@model EBBFED.Models.NationalMatch

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTeam.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTeam.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTeam1.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTeam1.NameA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
