﻿@model EBBFED.Models.NationalMatch

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiveLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiveLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTeam.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTeam.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalTeam1.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalTeam1.NameA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
