﻿@model IEnumerable<EBBFED.Models.NationalMatch>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiveLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScoreB)
        </th>

        <th>
            NationalTeamA
        </th>
        <th>
           NationalTeamB
        </th>
        <th>Competition</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiveLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScoreB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalTeam.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalTeam1.NameA)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NationalCompetition.NameA)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
