﻿@model EBBFED.Models.Statistician

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Statistician</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.NameE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
