﻿@model EBBFED.Models.CouncilPresident

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BriefA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BriefA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BriefE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BriefE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
