﻿@model EBBFED.Models.News

@{
    ViewBag.Title = "Details";
}


<h2>تفاصيل</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescriptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescriptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img class="card-img-top img-fluid" style="height: 250px; width: 250px;" src="~/Content/images/@Model.ImageUrl" alt="Card image cap">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShareLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShareLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Important)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Important)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
