﻿@model IEnumerable<EBBFED.Models.Club>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishedYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitlesWon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division)
        </th>
        <th>
            Area
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishedYear)
            </td>
            <td>
                @Html.Raw(@item.TitlesWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.NameE) | @Html.DisplayFor(modelItem => item.Area.NameA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
