﻿@model EBBFED.Models.Settings

@{
    ViewBag.Title = "EditSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditSettings</h2>

@using (Html.BeginForm("EditSettings", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Settings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.CoachPDFFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>@Model.CoachPDFFile</p>
                <br />
                <input id="CoachPDFFile" title="Upload a product image"
                       type="file" name="pdfFile" />
                @Html.HiddenFor(model => model.CoachPDFFile)
                @Html.ValidationMessageFor(model => model.CoachPDFFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
