﻿@model IEnumerable<EBBFED.Models.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            الموسم
        </th>
        <th>
            النوع
        </th>
        <th>
            المرحله العمريه
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Gender == "Female")
            {
                <span>أنثى</span>
            }
            else if (item.Gender == "Male")
            {
                <span>ذكر</span>
            }
            else
            {
                <span>غير محدد</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.NameA)
        </td>
        <td>
            @Html.ActionLink("View Season Teams", "Index", "SeasonTeams", new { id = item.ID },new { @class="btn btn-success"}) 
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
