﻿@model IEnumerable<EBBFED.Models.NationalAge>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Ages
        </th>
        <th>
            Competition
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Age.NameA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalCompetition.NameA)
        </td>
    </tr>
}

</table>
