﻿@model EBBFED.Models.CompetitionTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompetitionTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompetitionTeam.NameA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMatches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMatches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Winner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Winner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Draw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Draw)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
