﻿@model IEnumerable<EBBFED.Models.CompetitionTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Competition
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMatches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Draw)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionTeam.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionTeam.NameA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfMatches)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Draw)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
